{% extends '::base.html.twig' %}
{% block body %}
<div class="center" >
	<img src="{{ asset('images/eventos.png') }}" >
	<div class="row">
		<div class="col s2 l3"><p></p></div>
		<div class="col l6">
			

					<div class="card-panel hoverable"><h4 class="truncate">AGENDA</h4>
						<div class="card-content" >

							<ul class="collapsible" data-collapsible="expandable" id="iframe">


							</ul>
						</div>
						<div class="card-action">

						</div>
					</div>
				</div>

			</div>



			<script >


				$.ajax({
					url: "http://api.meetup.com/2/events?key=1415340124346653495e741d3b26e&group_urlname=AgilesColombia&sign=true",
					jsonp: "callback",
					dataType: "jsonp",
					data: {

					},
					success: function( response ) {
						html ="";

						for (var i = 0 ; i < response.results.length; i++) {
							fecha = Date(response.results[i].time);
							html = html + ''
							+'<li>'
							+'<div class="collapsible-header">'
							+'<i class="material-icons">assignment</i> '+fecha+response.results[i].name
							+'<a href="'+response.results[i].event_url+'"> Mas informacion</a>'
							+'</div>'
							+'<div class="collapsible-body">'
							+'<p>'+response.results[i].description+'</p>'
							+'<a href="'+response.results[i].event_url+'">Mas informacion</a>'
							+'</div>'
							+'</li>'
						};

						$("#iframe").append(html);

		        //console.log( response ); // server response
		    }
		});
			</script>

			{% endblock %}