{% extends '::base.html.twig' %}
{% block body %}
<br>
<div class="centar">
	<h3>¿ Quieres ayudarnos ?</h3>
	<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1 ">
            <div class="card-content white-text">
              <span class="card-title">Donar ahora</span><br>
             	<a href="#" title="" class="waves-effect waves-light btn">$ 20.000 </a>
              	<a href="#" title="" class="waves-effect waves-light btn">$ 50.000 </a>
              	<a href="#" title="" class="waves-effect waves-light btn">$ 100.000 </a>
              	
              	<div class="input-field col s6">
		          	<i >$</i>
		          	<input id="icon_prefix" type="number" class="validate">
		          	<label for="icon_prefix">Otro</label>
		        </div>
            </div>
            <div class="card-action">
              
            </div>
          </div>
        </div>
     </div>
	{% endblock %}