{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h2 class="center-align">Bienvenidos a LOCXUE</h2> 
    <div>
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-small">
              <div class="row">
                <div class="card card-panel hoverable">
                    <div class="col l4 s4 m12">
                        <div class="card-image">
                            <img src="{{ asset('image/loc.png') }}">
                        </div>
                    </div>
                    <div class="col l6 s6 m12">
                        <div class="card-content">
                            <h1 class="card-title black-text"><b>Historia</b></h1>
                            <p align="justify">Nuestro semillero inicio con un grupo de amigos los cuales decidieron crear un grupo el cual se dedicaria a aplicar metodologias que ayudaran a mejorar el desarrollo de software. Asi fue como comenzo el semillero LOCXUE</p>
                        </div>
                    </div>                
                </div>
               </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">       
        <div class="col l6 s12 m12">
            <div class="card-small">
              <div class="row">
                <div class="col l12 s12 m12">
                  <div class="card card-panel hoverable">
                    <div class="card-image">
                        <img src="{{ asset('image/loc.png') }}">
                    </div>
                    <div class="card-content">
                        <h1 class="card-title black-text"><b>Nuestra Mision</b></h1>
                        <p align="justify">Somos una comunidad Interdisciplinar de trabajo enfocados en la investigación orientada a la gestión del conocimiento a través de marcos de trabajo basados en agilismo, sustentados en principios como la auto-organización, compromiso, horizontalidad y valores como la amistad, respeto, responsabilidad y confianza con el fin de contribuir al fortalecimiento de la investigación universitaria, junto con actividades profesionales y la innovación.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col l6 s12 m12">
            <div class="card-small">
              <div class="row">
                <div class="col l12 s12 m12">
                  <div class="card card-panel hoverable">
                    <div class="card-image">
                      <img src="{{ asset('image/loc.png') }}">
                    </div>
                    <div class="card-content">
                        <h1 class="card-title black-text"><b>Nuestra Vision</b></h1>
                        <p>Para el año 2016 LocXue sera una  comunidad de investigación e innovación bajo diferentes entornos de trabajo interdisciplinar y en equipo desde el cual se genere y difunda conocimiento mediante la gestión de proyectos aplicando la filosofía ágil, siendo así reconocido a nivel nacional en el ámbito académico, científico y tecnológico.
                        <b>Palabras clave:</b> 
                            Gestión de conocimiento
                            Interdisciplinariedad
                            Crecimiento orgánico
                            Innovación e Investigación
                            Trabajo en equipo</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}