{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
<div class="row">
	

    <div class="row">
      <div class="col m6 s12 ">
      	<h2>Quienes Somos ?</h2>

      	<p class="justifyText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col m6 s12 ">
      	 <br><br><br>
<br>

          <center>      <img width="350rem" height="200rem" src="{{ asset('image/loc.png'  )}}" class=" " alt="" />              </div>
            
</center>
      </div>

    </div>
          



<div class="row">            
<ul>
 
                <li class="col m6 s12">
          <div class="caption left-align">
              <div class="col s3">
                <img width="85" height="130" src="{{ asset('image/a.jpg'  )}}" class="circle wp-post-image z-depth-2" alt="" />              </div>
              <div class="col s9">
                <blockquote >
               

  <p class="grey-text text-darken-3 justifyText">

Estudiante de ingeniería de sistemas, desde el inicio con el Semillero de Investigación LocXue Software Engineering, aparte de estar involucrado en este mundo practico algunos deportes aunque cada día con menos frecuencia, aparte del deporte  "practico" videojuegos como PES o Worl of Warcfraft, para relajarme. en cuanto a musica mi banda favorita es pearl jam. Con ganas de aprender, explorar lo que mas se pueda.

                                <br/><br/>
                    <p class="name"><strong>Carlos Alberto Alvarado Bautista</strong></p>
                    <div class="divider"></div>
                    <p class="smaill">Estudiante:Ingeniería de Sistemas - UDEC</p>
                      <p class="smaill">Correo :carlo.6a@gmail.com</p>
                       <p class="smaill">   Antiguedad: Febrero 2012 - Actualidad (Co-fundador)</p>
                  </p>
                </blockquote>
              </div>
          </div>

          <div class="row"> 

 <ul class="right">


          <li class="col s12 m12 social-f ">
            <a href="" alt="Facebook Locxue" title="Facebook Locxue" target="_blank" class="social-f btn-s">
      <i class="small icon icon-facebook "></i> 
            </a>
     
            <a href="" alt="Twitter Locxue" title="Twitter Locxue" target="_blank" class="btn-s">
              <i class="small icon icon-twitter"></i>
            </a>
        
            <a href="" alt="Linkedin Locxue" title="Linkedin Locxue" target="_blank" class="btn-s">
              <i class="small icon-linkedin"></i>
            </a>
       
            <a href="" alt="Google Plus Locxue" title="Google Plus Locxue" target="_blank" class="btn-s">
            <i class="small icon icon-googleplus"></i>
            </a>

            <a href="" alt="Youtube Locxue" title="Youtube Locxue" target="_blank" class="btn-s">
              <i class="small icon icon-youtube"></i>
            </a>
          </li>
         
  </ul>
</div>
        </li>
         
               

                           <li class="col m6 s12">
          <div class="caption left-align">
              <div class="col s3">
                <img width="85" height="130" src="{{ asset('image/b.png'  )}}" class="circle wp-post-image z-depth-2" alt="" />              </div>
              <div class="col s9">
                <blockquote >
                  <p class="grey-text text-darken-3 justifyText">


 Soy estudiante de Ingeniería de Sistemas de la Universidad de Cundinamarca, durante el transcurso de mis estudios comenzó un gran interés hacia el desarrollo de Software, manejo algunos lenguajes de programación como lo son C++, Java y Andorid, en mis ratos libres me encanta escuchar música, leer un buen libro e interpretar la Guitarra. Cuando me invitaron a participar del semillero, comencé con grandes expectativas, con el transcurso de los días se empezó a sembrar una semilla que día a día comenzó a dar frutos, comprendí que la auto-organización y trabajo en equipo permite comenzar y terminar proyectos satisfactoriamente
                                <br/><br/>
                      <p class="name"><strong>Giovanny Andrés Cifuentes</strong></p>
                    <div class="divider"></div>
                    <p class="smaill">Estudiante:Ingeniería de Sistemas - UDEC</p>
                      <p class="smaill">Correo :carlo.6a@gmail.com</p>
                       <p class="smaill">   Antiguedad: Febrero 2012 - Actualidad (Co-fundador)</p>
                  </p>
                </blockquote>
              </div>
          </div>

               <div class="row"> 

 <ul class="right">


          <li class="col s12 m12 social-f ">
            <a href="" alt="Facebook Locxue" title="Facebook Locxue" target="_blank" class="social-f btn-s">
      <i class="small icon icon-facebook "></i> 
            </a>
     
            <a href="" alt="Twitter Locxue" title="Twitter Locxue" target="_blank" class="btn-s">
              <i class="small icon icon-twitter"></i>
            </a>
        
            <a href="" alt="Linkedin Locxue" title="Linkedin Locxue" target="_blank" class="btn-s">
              <i class="small icon-linkedin"></i>
            </a>
       
            <a href="" alt="Google Plus Locxue" title="Google Plus Locxue" target="_blank" class="btn-s">
            <i class="small icon icon-googleplus"></i>
            </a>

            <a href="" alt="Youtube Locxue" title="Youtube Locxue" target="_blank" class="btn-s">
              <i class="small icon icon-youtube"></i>
            </a>
          </li>
         
  </ul>
</div>
        </li>

          <li class="col m6 s12">
          <div class="caption left-align">
              <div class="col s3">
                <img width="85" height="130" src="{{ asset('image/c.jpg'  )}}" class="circle wp-post-image z-depth-2" alt="" />              </div>
              <div class="col s9">
                <blockquote >
                  <p class="grey-text text-darken-3 justifyText">



Actualmente me desempeño como scrum master en Brainz Games, ademas de esto  durante los últimos años me he dedicado al mundo ágil, evangelizando e induciendo Scrum y otras metodologias agiles. Soy miembro activo de la comunidad Ágiles colombia, speaker y colaborador de eventos sobre metodos ágiles, he participado de los mas recientes eventos de la comunidad, facilitando charlas en algunas universidades e instituciones y difundiendo la agilidad por todo el pais.

                                <br/><br/>
                      <p class="name"><strong> Cristian Camilo Velásquez Ardila</strong></p>
                    <div class="divider"></div>
                    <p class="smaill">Estudiante:Ingeniería de Sistemas - UDEC</p>
                      <p class="smaill">Correo :carlo.6a@gmail.com</p>
                       <p class="smaill">   Antiguedad: Febrero 2012 - Actualidad (Co-fundador)</p>
                  </p>
                </blockquote>
              </div>
          </div>
        <div class="row"> 

 <ul class="right">


          <li class="col s12 m12 social-f ">
            <a href="" alt="Facebook Locxue" title="Facebook Locxue" target="_blank" class="social-f btn-s">
      <i class="small icon icon-facebook "></i> 
            </a>
     
            <a href="" alt="Twitter Locxue" title="Twitter Locxue" target="_blank" class="btn-s">
              <i class="small icon icon-twitter"></i>
            </a>
        
            <a href="" alt="Linkedin Locxue" title="Linkedin Locxue" target="_blank" class="btn-s">
              <i class="small icon-linkedin"></i>
            </a>
       
            <a href="" alt="Google Plus Locxue" title="Google Plus Locxue" target="_blank" class="btn-s">
            <i class="small icon icon-googleplus"></i>
            </a>

            <a href="" alt="Youtube Locxue" title="Youtube Locxue" target="_blank" class="btn-s">
              <i class="small icon icon-youtube"></i>
            </a>
          </li>
         
  </ul>
</div>
      
        </li>
        
         </ul>
   </div>

   </div>
   	<script type="text/javascript"  src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>


{% endblock %}